/* Navigation.css */

.navbar {
	background-color: rgba(71, 53, 111, 0.155);
	color: #fff;
	padding: 5px 0;
	box-shadow: 0 2px 10px rgb(25, 25, 25); /* Apply a shadow */
}

.nav-list {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	margin: 0 20px; /* Adjust the margin as desired for spacing between items */
}

.nav-item a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	transition: color 0.2s; /* Add a smooth color transition on hover */
}

.nav-item a:hover {
	color: rgb(176, 150, 188); /* Change the color on hover */
}
