.HelpPanel {
	max-width: 50rem;
	margin: 3rem auto;
	background-color: rgba(35, 28, 50, 0.456);
	border-radius: 1rem;
}

.MoreInfoh2 {
	text-align: center;
	font-size: 1.75rem !important;
	color: rgb(226, 213, 236) !important;
}

.MoreInfoh3 {
	font-size: 1.5rem !important;
	color: rgb(226, 213, 236) !important;
}

.MoreInfop {
	font-size: 1rem !important;
	color: rgb(220, 220, 220) !important;
}

.MoreInfob {
	font-size: 1rem !important;
	color: rgb(226, 213, 236) !important;
}

.MoreInfoi {
	font-size: 1rem !important;
	color: rgb(226, 213, 236) !important;
}
